.menu {
  position: absolute;
  flex-direction: column;
  right: 0;
  top: 6.4rem;
  display: flex;
  width: 50vw;
  background-color: var(--color-secundary);
  z-index: 15;
}

.item {
  position: relative;
  display: flex;
  padding: 0.8rem;
  list-style: none;
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
}

.item:hover {
  background-color: rgba(245, 241, 237, 0.7);
}

.item > a {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #6f6b60;
  font-size: var(--typo-sub-title);
}

.item > a:hover {
  color: #000;
  font-size: 1.3rem;
}

.bars {
  color: var(--color-secundary);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}
