.grid {
  display: grid;
  grid-template-rows: 11.25rem 11.25rem;
  grid-template-columns: 11.25rem 11.25rem;
  grid-template-areas:
    'civil consum'
    'admin prev';
    gap: 10px;

  place-items: center;
  justify-content: center;
  align-content: center;
  z-index: 5;
}

.civil {
  grid-area: civil;
}

.consum {
  grid-area: consum;
}

.admin {
  grid-area: admin;
}

.prev {
  grid-area: prev;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, .4);
}