.card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45vw;
  height: 45vw;

  background: var(--color-bg-card);
}

.card:hover,
.image:hover {
  width: 45.5vw;
  height: 45.5vw;
  border-radius: 3px;
}

.card:hover > .title {
  font-size: var(--typo-sub-title);
}

.title {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: var(--typo-font-sub-title);
  font-size: 0.9em;
  line-height: 28px;
  text-transform: capitalize;

  color: var(--color-bg);
}

.image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
