.header {
  padding: 1rem 0;
}

.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem 1rem;
  /* background-image: linear-gradient(to right bottom, #4d002d, #744465, #9b819c, #c8bfd0, #ffffff); */
  background-image: linear-gradient(107.01deg, #4D002D 49.69%, rgba(77, 0, 45, 0) 158.45%);
  height: 86px;
}

.logo {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.title,
.sub-title {
  font: 400;
  color: var(--color-white);
}

.title {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.1631em;
  margin-bottom: 0;
}

.line {
  width: 11.5rem;
  height: 1px;
  background-color: rgb(255, 255, 255);
}

.sub-title {
  margin-top: 5px;
  font-size: 0.945em;
}

.identification {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
