.content-image {
  margin: 0.7rem 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 10;
}

.content {
  width: calc(100vw - 20px);
  background: rgba(245, 241, 237, 0.7);
  padding: 10px;
}

.content p {
  font-family: Cinzel;
  font-size: 0.9em;
  letter-spacing: 0.065em;
  color: #000000;
}
