.section {
  margin-bottom: 1rem;
}

.title,
.content {
  padding: 0.2rem 1rem;
}

.title {
  display: flex;
  align-items: center;
  height: 2.9rem;

  margin-bottom: 5px;

  background-color: var(--color-secundary);
  color: var(--color-primary);
  letter-spacing: 0.05rem;
  font: bolder var(--typo-size-sub-title) var(--typo-font-sub-title);
  text-transform: capitalize;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 22px;
  text-align: justify;
  font-family: var(--typo-font-text);
  font-size: var(--typo-size-text);
}
