:root {
  /* Colors */
  --color-primary: #4d002d;
  --color-secundary: #dad2bc;
  --color-bg: #f5f1ed;
  --color-white: #fff;
  --color-black: #000;

  /* Typography */
  --typo-title: 1.4094875em;
  --typo-sub-title: 1.163475em;
  --typo-text: 1.125em;
}
